@import url(font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.btn {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: #fff;
    font-family: "Inter";
    font-weight: 700;
    letter-spacing: 1px;
    color: #0C0C0E;
    transition: .3s;
    cursor: pointer;
}

.btn:hover {
    border: none;
    background-color: #BB945F;
}


body {
    width: 1440px;
    font-family: "Inter";
    background-color: #FFFFFF;
    margin: 0 auto;
    font-weight: 400;
}

.title-books {
    font-family: "Forum";
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    color: #000;
    font-size: 20px;
    position: relative;
    text-transform: capitalize;
}

.title-books::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #BB945F;
    bottom: 0;
    left: 0;
}

.title {
    font-family: "Forum";
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    color: #0C0C0E;
    font-size: 40px;
    position: relative;
    text-align: center;
}

.title::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
    bottom: -10px;
    left: 48.3%;
}

.desc {
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #000;
    text-align: center;
}

/* HEADER START */

.head {
    background-color: #0C0C0E;
}

.head__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-family: "Forum";
    color: #fff;
    letter-spacing: 2px;
    font-size: 30px;
    line-height: -50%;
    margin: 20px 0;
    display: block;
    font-weight: 400;
}

.head__nav__box {
    display: flex;
    align-items: center;
}

.head__menu {
    display: flex;
    justify-content: space-between;
}

.head .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head__menu__link {
    color: #fff;
    font-weight: 400;
    line-height: -50%;
    font-size: 20px;
    transition: .3s;
}

.head__menu__link:hover {
    color: #bb945f;
}

.head__menu li {
    margin-right: 30px;
}

.head__menu li:last-child {
    margin-right: 40px;
}

.head__nav__profile {
    vertical-align: bottom;
}

.head__preview {
    width: 100%;
    height: 600px;
    background-image: url(../images/Welcome.png);
    background-repeat: no-repeat;
    position: relative;
}

.head__preview__text {
    width: 600px;
    height: 220px;
    background-color: #0C0C0E;
    position: absolute;
    top: 220px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head__preview__h2 {
    font-family: "Forum";
    letter-spacing: 3px;
    font-size: 40px;
    line-height: -50%;
    text-align: center;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.head__preview__overlay {
    background-image: url(../images/overlay.png);
    width: 100%;
    height: 300px;
}

/* HEADER END */
/* MAIN START */

.about__title {
    margin-top: 20px;
    margin-bottom: 61px;
}

.about__desc {
    margin-bottom: 20px;
}

.about__corusel__card {
    display: flex;
    justify-content: space-between;
}

.about__corusel__img {
    width: 450px;
    height: 560px;
    vertical-align: bottom;
    object-fit: cover;
}

.about__corusel__button {
    width: 26px;
    height: 26px;
    background: #0c0c0e00 ;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__corusel__button::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #0C0C0E;
    margin-right: 10px;
    border-radius: 50%;
}

.about__corusel__button_bg::after {
    background: #BB945F;
}


.about__corusel__button::after:last-child{
    margin-right: 0;
    display: inline-block;
}


.about__corusel__btn {
    display: flex;
    justify-content: center;
}

.about__corusel__button_bg {
    background: #bb955f00;
}

.favorites__desc {
    font-family: "Inter";
    font-weight: 700;
    font-size: 20px;
    color: #000;
    margin-top: 61px;
    margin-bottom: 40px;
}

.favorites__form__inpt {
    width: 17px;
    height: 17px;
    margin-right: 20px;
    appearance: none;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorites__form__inpt::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.favorites__form__inpt:checked::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
}

.favorites__form__label {
    margin-right: 90px;
    font-family: "Inter";
    font-size: 20px;
}

.favorites__form__label:nth-of-type(1){
    font-weight: 700;
}

.favorites__form__box {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.favorites__cards__card {
    width: 550px;
    padding: 15px 20px;
    height: 555px;
    border: 1px solid #000;
    position: relative;
}

.favorites__cards__box {
    width: 590px;
    position: relative;
    margin-bottom: 40px;
}

.favorites__cards__card__desc, .favorites__cards__card__span {
    font-family: "Inter";
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
}

.favorites__cards__card__desc {
    text-transform: uppercase;
    margin-top: 20px;
}

.favorites__cards__card__span {
    text-transform: capitalize;
}

.favorites__cards__card__history {
    color: #000;
    line-height: 40px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 2px;
    width: 355px;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 15px;
}

.favorites__cards__img {
    vertical-align: bottom;
    width: 200px;
    height: 300px;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    right: 0;
}

.favorites__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.favorites__cards__card__btn {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.own {
    border: 1px solid #BB945F;
    color: #BB945F;
    width: 75px;
    height: 30px;
    border-radius: 2px;
    background-color: #fff;
    font-family: "Inter";
    font-weight: 700;
    letter-spacing: 1px;
    cursor: no-drop;
}

.favorites__cards_2 {
    display: none;
}

.favorites__cards_3 {
    display: none;
}

.favorites__cards_4 {
    display: none;
}